functional/tmp

# Docs
doc/*.md
doc/*.1

# Temporary mocks
integration/mocks/login/.we
pod/mocks/res/package.tar.gz
pod/mocks/benchmark/linux-4.6-rc2
pod/mocks/benchmark/linux-4.6-rc2.tar.xz

# Compiled Object files, Static and Dynamic libs (Shared Objects)
cli
cli_*_386
cli_*_amd64
cli_*_arm
*.o
*.a
*.so

# Folders
_obj
_test
test_assets
vendor

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof

.cover

coverage.html
coverage.out

*.coverprofile