functional/tmp

# Docs
doc/*.md
doc/*.1

# Temporary mocks
deployment/mocks/project/.git
deployment/mocks/project-repo/
metrics/mocks/.we
metrics/mocks/.we_metrics
integration/mocks/login/.we
integration/mocks/login/.we_metrics
integration/mocks/logout/.we_metrics
integration/mocks/generate/example
integration/mocks/generate/foo/data
deployment/internal/repodiscovery/mocks/project
deployment/internal/repodiscovery/mocks/project-with-git
deployment/internal/repodiscovery/mocks/service-with-git
deployment/internal/repodiscovery/mocks/service-with-git-init-only
deployment/internal/repodiscovery/mocks/service-without-git

# Compiled Object files, Static and Dynamic libs (Shared Objects)
cli
cli_*_386
cli_*_amd64
cli_*_arm
collector/collector
*.o
*.a
*.so

# Folders
_obj
_test
test_assets

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof

.cover

coverage.html
coverage.out

*.coverprofile